@import "../lib/hotcss/px2rem.scss";

// 主色调颜色
$mainColor: #e54847;
$btnColor: #f03d37;

// 字体颜色
$text-title: #333;
$text-normal: #666;
$text-nav: #696969;
$text-number: #faaf00;

// 字体大小
$font-normal: px2rem(30);
$font-middle: px2rem(28);
$font-minor: px2rem(26);
$font-btn: px2rem(24);

// 定义混入样式
@mixin ellipsis(){
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 按钮的统一样式配置
.btn-goupiao {
  width: px2rem(135);
  height: px2rem(54);
  line-height: px2rem(54);
  text-align: center;
  color: #fff;
  background-color: $btnColor;
  border-radius: px2rem(8);
  font-size: $font-btn;
}